@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.container{
    width: 120%;
}

input:disabled {
    color: black; 
    background-color: white; 
   
  }

button .btn{
    max-width: 20px;
}

